[submodule "output"]
	path = output
	url = https://github.com/lukemelas/lukemelas.github.io.git
[submodule "pelican-themes"]
	path = pelican-themes
	url = https://github.com/getpelican/pelican-themes.git

