@import url(//fonts.googleapis.com/css?family=Crimson+Text);
@import url(//fonts.googleapis.com/css?family=Open+Sans);

#notebook-container pre {
    font-family: courier, monospace;
    font-size: 15px;
    border-radius: 5px 5px 0px 0px;
    line-height: 1.57em;
}

a.anchor-link {
    font-size: 0.75em;
    color: lightgray;
    padding: 5px;
    border-bottom: none;
    float: right;
}

.prompt.input_prompt {
    font-size: 15px;
    display: none;
    color: lightgray;
}

.inner {
    max-width: 48em
}

#notebook-container .output_stream pre {
    background: #e4e4dd;
    color: black;
    border-radius: 0px 0px 5px 5px;
    margin-top: -2em;
}

.post-content.post-content img {
    max-width: 20em;
    margin: 2.5em auto;
}

body {
    background-color: #f8f8f8;
}

#blog-header.has-cover.has-cover{
    padding: 3em 0 3em;
}

#post-header.has-cover.has-cover {
    padding: 5em 0 3em;
}

h1.blog-name, h2.post-title, 
h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
    font-weight: 100;
}

.home-template p.post-author-about {
    font-size: 20px;
    line-height: 1.4;
    font-family: 'Cardo', serif;
}

.post-title.post-title {
    font-weight: 300;
}


