<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/custom.css" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
        title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
        title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate"
        title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate"
        title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml"
        rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml"
        rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate"
        title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate"
        title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}

    {# DARK AND LIGHT THEME STYLES #}
    <link id="dark-theme-style" rel="stylesheet" type="text/css" {% if THEME_COLOR_AUTO_DETECT_BROWSER_PREFERENCE %}
        {% if THEME_COLOR|default("light") == "dark" %}
        media="(prefers-color-scheme: dark), (prefers-color-scheme: no-preference)" {% else %}
        media="(prefers-color-scheme: dark)" {% endif %}
        {% elif THEME_COLOR_ENABLE_USER_OVERRIDE and THEME_COLOR|default("light") == "light" %} disabled="disabled"
        {% endif %} href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/dark-theme.css">
    <link id="pygments-light-theme" rel="stylesheet" type="text/css" {% if THEME_COLOR_AUTO_DETECT_BROWSER_PREFERENCE %}
        {% if THEME_COLOR|default("light") == "dark" %} media="(prefers-color-scheme: light)" {% else %}
        media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" {% endif %} {% endif %}
        href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/light-theme.css">


    {% endblock head %}
</head>

<body {% if not THEME_COLOR_AUTO_DETECT_BROWSER_PREFERENCE %} class="{{ THEME_COLOR|default('light') }}-theme"
    {% endif %}>
    <div class="flex-wrapper">
        <div class="everything-but-footer">
            <div class="main-header">
                <ul>
                    {% if article or page or archive or author %}
                    <li><a href="{{ SITEURL }}/" class="pure-menu-heading pure-menu-link">Home</a></li> •
                    {% endif %}
                    <li><a href="/pages/about.html" class="pure-menu-heading pure-menu-link">About</a></li> •
                    <li><a href="/author/luke.html" class="pure-menu-heading pure-menu-link">Blog</a></li> •
                    <li><a href="/pages/research.html" class="pure-menu-heading pure-menu-link">Research</a></li> •
                    <li><a href="https://github.com/lukemelas" class="pure-menu-heading pure-menu-link">GitHub</a></li>
                </ul>
            </div>

            <!-- CONTENT-->
            {% block content %}
            {% endblock %}
            <!-- END CONTENT-->

        </div>
        <footer class="index-footer">
            <a href="{{ SITEURL }}/" title="{{ SITENAME|striptags }}">{{ SITENAME }}</a>

            <!-- THEME COLOR -->
            {% if THEME_COLOR_ENABLE_USER_OVERRIDE %}
            <a class="footer-dark-tag" href="javascript:void(0)" onclick="window.theme.switch(`dark`)">Dark</a>
            <a class="footer-light-tag" href="javascript:void(0)" onclick="window.theme.switch(`light`)">Light</a>

            <script id="dark-theme-script" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/dark-theme/dark-theme.js"
                data-enable-auto-detect-theme="{{ THEME_COLOR_AUTO_DETECT_BROWSER_PREFERENCE|default('true') }}"
                data-default-theme="{{ THEME_COLOR|default('light') }}" type="text/javascript">
            </script>
            {% endif %}
            </p>

        </footer>
    </div>

    {% include "analytics.html" %}
</body>

</html>